@import "_variables.scss";

@media (min-width: 577px) and (max-width: 991px) {
    body {
        background-color: $Fondo-Principal;
        color: $Font-Color-Principal;
    }

    .header {
        &__nav {
            &--banner {
                & li {
                    display: list-item;
                    list-style: none;
                }

                & a {
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}