@import "_variables.scss";
@media (min-width: 992px) {
    .body {
        background-color: $Fondo-Principal;
        color: $Font-Color-Principal;
        padding: 0px;
        margin: 0px;
    }

    .titulo {
        &__h1 {
            font-size: $FontSize-Title-Desktop;
            text-align: center;
        }

        & h2 {
            font-size: 2.3rem;
            font-weight: 800;
            text-align: center;
        }

        & h3 {
            font-size: 1.7rem;
            font-weight: 600;
            text-align: center;
        }
        &__subtitulo {
            text-align: center;
            font-size: 1.3rem;
        }
        &__bienvenida {
            text-align: center;
            font-size: 2.3rem;
            padding-top: 2rem;
        }
        &__creditos {
            text-align: center;
            font-size: 2.3rem;
            padding-top: 1rem;
            color: $Color-Cuarto;
        }

        &__btnTienda {
            text-align: center;
        }

        &__btnSalir {
            text-align: center;
        }
    }

    .filtro {
        text-align: center;
        padding: 0px;

        &__nombre {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .carta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__color {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 0.4rem;

            &Animal {
                background-color: rgb(168, 87, 54);
            }

            &Alimento {
                background-color: rgb(86, 148, 71);
            }

            &Habilidad {
                background-color: rgb(128, 90, 123);
            }

            &Habitat {
                background-color: rgb(106, 150, 158);
            }
        }

        &__contornoAnimal {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: rgb(136, 53, 53);
            color: rgb(241, 233, 233);
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
        }

        &__contornoAlimento {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: rgb(79, 128, 69);
            color: rgb(241, 233, 233);
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
        }

        &__contornoHabilidad {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: rgb(95, 61, 117);
            color: rgb(241, 233, 233);
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
        }

        &__contornoHabitat {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: rgb(113, 149, 158);
            color: rgb(0, 0, 0);
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
        }

        &__superior {
            height: 58%;

            &--nombre {
                font-size: 1.5rem;
                font-weight: 800;
                text-align: center;
            }

            &--imagen {
                text-align: center;
                border-radius: 5px;
            }
        }

        &__inferior {
            height: 42%;
            padding-top: 0.4rem;
            padding-left: 0.9rem;
            padding-right: 0.9rem;
            padding-bottom: 0.4rem;

            &--efecto {
                text-align: left;
                padding-bottom: 0.3rem;
                max-width: 100%;
                height: 70%;
            }

            &--boton {
                text-align: center;

                &-_-btn {
                    background-color: red;
                    position: relative;
                }
            }

            &--id {
                height: 15%;
                text-align: center;
            }
        }
    }
}

.login {
    padding-top: 2rem;
    text-align: center;

    &__bienvenida {
        padding-bottom: 1rem;
    }

    &__datosUsuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.3rem;

        &--nombre {
            margin-bottom: 1rem;
        }
    }

    &__botones {
        align-items: center;
        padding-bottom: 1rem;
    }
}

.topNav {
    background-color: $Color-Secundario;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    width: 100%;

    & a {
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: $Color-Terciario;
            color: white;
        }
    }
}

button {
    border-radius: 4px;
    color: black;
    border: 2px solid #c4c0c0;
    background-color: rgb(148, 139, 139);
    padding: 0.1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.1rem;
    cursor: pointer;

    &:hover {
        background-color: white;
    }
}

.mensajeError {
    color: rgb(247, 65, 65);
    font-weight: 800;
    padding: 1rem;
}

#btnRefresh {
    margin: 1rem;
    font-size: 1.3rem;
}
