@import "_variables.scss";
@media (min-width: 992px) {
    .body {
        background-color: $Color-Principal;
        color: $Font-Principal;
        padding: 0px;
        margin: 0px;
    }

    .titulo {
        &__h1 {
            font-size: $FontSize-Title-Desktop;
            text-align: center;
        }

        & h2 {
            font-size: 2.3rem;
            font-weight: 800;
            text-align: center;
        }

        & h3 {
            font-size: 1.7rem;
            font-weight: 600;
            text-align: center;
        }
        &__subtitulo {
            text-align: center;
            font-size: 1.3rem;
        }
        &__bienvenida {
            text-align: center;
            font-size: 2.3rem;
            padding-top: 2rem;
        }
        &__creditos {
            text-align: center;
            font-size: 2.3rem;
            padding-top: 1rem;
            color: $Color-Cuarto;
        }

        &__btnTienda {
            text-align: center;
        }

        &__btnSalir {
            text-align: center;
        }
    }

    .filtro {
        text-align: center;
        padding: 0px;

        &__nombre {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .carta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__color {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 0.4rem;

            &Animal {
                background-color: $Cartas-Primero;
                &:hover {
                    text-shadow: 10px $Cartas-Primero;
                }
            }

            &Alimento {
                background-color: $Cartas-Secundario;
            }

            &Habilidad {
                background-color: $Cartas-Terciario;
            }

            &Habitat {
                background-color: $Cartas-Cuarto;
            }
        }

        &__precio {
            background-color: $Font-Terciario;
            color: $Font-Cuarto;
            font-weight: 600;
            border: none;
            width: 100%;
            border-radius: 8px;
            text-align: center;
        }

        &__contornoAnimal {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: $Cartas-Primero;
            color: $Font-Principal;
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;

            &:hover {
                box-shadow: 1px 1px 2px black, 0 0 25px rgb(111, 111, 168), 0 0 5px darkblue;
            }
        }

        &__contornoAlimento {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: $Cartas-Secundario;
            color: $Font-Principal;
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;

            &:hover {
                box-shadow: 1px 1px 2px black, 0 0 25px rgb(161, 111, 168), 0 0 5px darkblue;
            }
        }

        &__contornoHabilidad {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: $Cartas-Terciario;
            color: $Font-Principal;
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;

            &:hover {
                box-shadow: 1px 1px 2px black, 0 0 25px rgb(175, 147, 96), 0 0 5px darkblue;
            }
        }

        &__contornoHabitat {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: $Cartas-Cuarto;
            color: $Font-Principal;
            border-radius: 10px;
            padding: 0.4rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;

            &:hover {
                box-shadow: 1px 1px 2px black, 0 0 25px rgb(152, 161, 96), 0 0 5px darkblue;
            }
        }

        &__superior {
            height: 58%;

            &--nombre {
                font-size: 1.5rem;
                font-weight: 800;
                text-align: center;
            }

            &--imagen {
                text-align: center;
                border-radius: 5px;
            }
        }

        &__inferior {
            height: 42%;
            padding-top: 0.4rem;
            padding-left: 0.9rem;
            padding-right: 0.9rem;
            padding-bottom: 0.4rem;

            &--efecto {
                text-align: left;
                padding-bottom: 0.3rem;
                max-width: 100%;
                height: 70%;
            }

            &--boton {
                text-align: center;

                &-_-btn {
                    background-color: red;
                    position: relative;
                }
            }

            &--id {
                height: 15%;
                text-align: center;
            }
        }
    }
}

.login {
    padding-top: 2rem;
    text-align: center;

    &__bienvenida {
        padding-bottom: 1rem;
    }

    &__datosUsuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.3rem;

        &--nombre {
            margin-bottom: 1rem;
        }
    }

    &__botones {
        align-items: center;
        padding-bottom: 1rem;
    }
}

.topNav {
    background-color: $Color-Secundario;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    width: 100%;

    & a {
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: $Color-Terciario;
            color: $Font-Secundario;
        }
    }
}

button {
    border-radius: 4px;
    color: black;
    border: 2px solid #c4c0c0;
    background-color: $Font-Terciario;
    padding: 0.1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.1rem;
    cursor: pointer;

    &:hover {
        background-color: $Font-Secundario;
    }
}

.btnMenos,
.btnMas {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-weight: 1000;
}

.btnMenos:hover {
    background-color: rgb(243, 112, 112);
}
.btnMas:hover {
    background-color: rgb(119, 212, 119);
}

.mensajeError {
    color: rgb(247, 65, 65);
    font-weight: 800;
    padding: 1rem;
}

#btnRefresh {
    margin: 1rem;
    font-size: 1.3rem;
}
