@import "_variables.scss";
@media (min-width: 992px) {
    .body {
        background-color: $Fondo-Principal;
        color: $Font-Color-Principal;
        padding: 0px;
        margin: 0px;
    }

    .header {
        &__nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            &--banner {
                grid-area: lis;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;

                & li {
                    display: inline-block;
                    padding: 0.2rem;
                }

                & a {
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $Font-Color-Secundario;
                    background-color: $Fondo-Secundario;
                    font-size: $FontSize-NavBar-Desktop;
                    padding-top: 0.5rem;
                    padding-bottom: 1.6rem;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                }

                & a:hover {
                    background-color: $Font-Color-Secundario;
                    color: $Fondo-Secundario;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding-top: 0.5rem;
                    padding-bottom: 1.6rem;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                }
            }
        }
    }

    #header__nav--currentMenu {
        background-color: $Font-Color-Secundario;
        color: $Fondo-Secundario;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 0.5rem;
        padding-bottom: 1.6rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .titulo{
        padding: 1rem;
        &__h1{
            font-size: $FontSize-Title-Desktop;
            text-align: center;
        }
        &__subtitulo{
            text-align: center;
            font-size: 1.3rem;
        }
    }

    .login{
        padding-top: 2rem;
        text-align: center;

        &__bienvenida{
            padding-bottom: 1rem;
        }

        &__datosUsuario{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1.3rem;

            &--nombre{
                margin-bottom: 1rem;
            }
            
        }

        &__botones{
            align-items: center;
            padding-bottom: 1rem;
            
        }

        &__mensajeError{
            color: rgb(247, 65, 65);
            font-weight: 800;
            padding: 1rem;
        }
    }
}
