$Fondo-Principal: rgb(0, 0, 0);
$Fondo-Secundario: rgb(228, 228, 228);
$Font-Color-Principal: rgb(255, 255, 255);
$Font-Color-Secundario: rgb(36, 36, 36);
$FontSize-Texto-Desktop: 1rem;
$FontSize-Title-Desktop: 3.5rem;
$FontSize-NavBar-Desktop: 1.45rem;
$FontSize-Title-Mobile: 2rem;
