$Fondo-Principal: #000000;
$Fondo-Secundario: #3D0000;
$Font-Color-Principal: rgb(255, 255, 255);
$Font-Color-Secundario: rgb(36, 36, 36);
$FontSize-Texto-Desktop: 1rem;
$FontSize-Title-Desktop: 3.5rem;
$FontSize-NavBar-Desktop: 1.45rem;
$FontSize-Title-Mobile: 2rem;
$Color-Principal: #000000;
$Color-Secundario: #3D0000;
$Color-Terciario: #950101;
$Color-Cuarto: #FF0000;
