$Fondo-Principal: rgb(143, 202, 143);
$Font-Color-Principal: rgb(6, 27, 6);
$FontSize-Texto-Desktop: 1rem;
$FontSize-Title-Desktop: 3rem;
$FontSize-NavBar-Desktop: 1.45rem;
$FontSize-Title-Mobile: 2rem;
