@media (max-width: 576px) {
  .header__nav--banner li {
    display: list-item;
    list-style: none;
  }
  .header__nav--banner a {
    text-transform: uppercase;
    text-decoration: none;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .header__nav--banner li {
    display: list-item;
    list-style: none;
  }
  .header__nav--banner a {
    text-transform: uppercase;
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .body {
    background-color: #072227;
    color: #f4f4f2;
    padding: 0px;
    margin: 0px;
  }

  .titulo__h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .titulo h2 {
    font-size: 2.3rem;
    font-weight: 800;
    text-align: center;
  }
  .titulo h3 {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
  }
  .titulo__subtitulo {
    text-align: center;
    font-size: 1.3rem;
  }
  .titulo__bienvenida {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 2rem;
  }
  .titulo__creditos {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 1rem;
    color: #AEFEFF;
  }
  .titulo__btnTienda {
    text-align: center;
  }
  .titulo__btnSalir {
    text-align: center;
  }

  .filtro {
    text-align: center;
    padding: 0px;
  }
  .filtro__nombre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .carta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .carta__color {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.4rem;
  }
  .carta__contornoAnimal {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #3f4150;
    color: #f4f4f2;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1rem;
    align-items: center;
  }
  .carta__contornoAnimal:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px #6f6fa8, 0 0 5px darkblue;
  }
  .carta__contornoAlimento {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #855e69;
    color: #f4f4f2;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1rem;
    align-items: center;
  }
  .carta__contornoAlimento:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px #a16fa8, 0 0 5px darkblue;
  }
  .carta__contornoHabilidad {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #7e6453;
    color: #f4f4f2;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1rem;
    align-items: center;
  }
  .carta__contornoHabilidad:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px #af9360, 0 0 5px darkblue;
  }
  .carta__contornoHabitat {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #78814e;
    color: #f4f4f2;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1rem;
    align-items: center;
  }
  .carta__contornoHabitat:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px #98a160, 0 0 5px darkblue;
  }
  .carta__superior {
    height: 15px;
    width: 300px;
  }
  .carta__superior--tipo {
    text-align: center;
    font-size: 0.9rem;
  }
  .carta__cartaReal {
    height: 350px;
    width: 300px;
  }
  .carta__medio--nombre {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
  }
  .carta__medio--imagen {
    text-align: center;
    border-radius: 5px;
  }
  .carta__inferior {
    width: 300px;
    height: 127px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.5rem;
  }
  .carta__inferior--efecto {
    text-align: left;
    width: 85%;
    height: 100%;
  }
  .carta__precio {
    background-color: #9ea2ad;
    color: #404752;
    font-weight: 600;
    border: none;
    width: 100%;
    border-radius: 8px;
    text-align: center;
  }
}
.login {
  padding-top: 2rem;
  text-align: center;
}
.login__bienvenida {
  padding-bottom: 1rem;
}
.login__datosUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.3rem;
}
.login__datosUsuario--nombre {
  margin-bottom: 1rem;
}
.login__botones {
  align-items: center;
  padding-bottom: 1rem;
}

.topNav {
  background-color: #35858B;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
}
.topNav a {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topNav a:hover {
  background-color: #4FBDBA;
  color: #ddd6d6;
}

button {
  border-radius: 4px;
  color: black;
  border: 2px solid #c4c0c0;
  background-color: #9ea2ad;
  padding: 0.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.1rem;
  cursor: pointer;
}
button:hover {
  background-color: #ddd6d6;
}

.btnMenos,
.btnMas {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-weight: 1000;
}

.btnMenos:hover {
  background-color: #f37070;
}

.btnMas:hover {
  background-color: #77d477;
}

.mensajeError {
  color: #f74141;
  font-weight: 800;
  padding: 1rem;
}

#btnRefresh {
  margin: 1rem;
  font-size: 1.3rem;
}

.accion {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: #4FBDBA;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.accion span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 800;
  font-size: 2rem;
  transition: 0.3s ease-in;
}

.accion.active span {
  transform: rotate(50deg);
}

.icono {
  background: url("../img/carritoDeCompras.png") no-repeat 50% 50%;
  background-size: 28px 28px;
  display: inline-block;
  height: 28px;
  width: 50px;
}

.accion ul {
  position: absolute;
  bottom: 55px;
  background-color: white;
  min-width: 250px;
  padding: 20px;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.accion.active ul {
  bottom: 70px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.accion ul li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
}

.accion ul li:hover {
  font-weight: 600;
}

.accion ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */